@model List<SW.Entities.ProductDTO>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<style>
    .banner:hover .image {
        opacity: 0.6;
    }

    .thumbnail:hover .image{
        opacity:0.6;
    }

    .thumbnail:hover .middle {
        opacity: 1;
    }

    .image {
        transition: .5s ease;
    }


    .litem:hover {
        background-color: black;
        font-size: 20px;
        color: white;
        font-weight: bold;
    }


    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
</style>

@{
    for (int i = 0; i < Model.Count;i++)
    {  
<h2>Home</h2>
<div class="overlay"></div>
<div style="display:flex;flex-direction:row">
    <div class="container" style="width:200px">
        <ul class="list-group" style="cursor:pointer">
            <li class="list-group-item" style="background-color:red;color:white;font:bold">Categories</li>
            <li class="list-group-item litem"><a href="/Home/DisplayAllItems?category=mobiles" style="text-decoration:none">Mobiles</a></li>
            <li class="list-group-item litem"><a href="/Home/DisplayAllItems?category=computers" style="text-decoration:none">Computers</a></li>
            <li class="list-group-item litem"><a href="/Home/DisplayAllItems?category=clothes" style="text-decoration:none">Clothes</a></li>
            <li class="list-group-item litem"><a href="/Home/DisplayAllItems?category=watches" style="text-decoration:none">Watches</a></li>
            <li class="list-group-item litem"><a href="/Home/DisplayAllItems?category=cameras" style="text-decoration:none">Cameras</a></li>
            <li class="list-group-item litem"><a href="/Home/DisplayAllItems?category=cameras" style="text-decoration:none">Shoes</a></li>
            <li class="list-group-item litem"><a href="/Home/DisplayAllItems?category=printers" style="text-decoration:none">Printers</a></li>
        </ul>
    </div>
    <div class="container" style="border:solid 1px black;padding:8px">
        <div class="carousel slide carousel-fade" id="myCarousel">
            <ol class="carousel-indicators">
                <li class="active" data-target="#myCarousel" data-slide-to="0" style="color:black"></li>
                <li class="active" data-target="#myCarousel" data-slide-to="1" style="color:black"></li>
                <li class="active" data-target="#myCarousel" data-slide-to="2" style="color:black"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Images/ac_cover.jpg" />
                </div>

                <div class="item">
                    <img src="~/Images/s8cover.jpg" />
                </div>
            </div>

            <a href="#myCarousel" class="left carousel-control" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a href="#myCarousel" class="right carousel-control" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
    </div>
    
</div>
    
<div class="container">
    <h3 style="color:green">New Items</h3>
    <div style="display: flex; flex-direction: row; align-items: center; border: 1px solid black; padding: 20px; background-color: #f2eeee">
        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <img src="~/Images/samsung%20s8.png" class="image"/>
                <div class="middle">
                    <div>
                        @{
                            if(Shopping_Website.Security.SessionManager.Customer!=null)
                            {
                                <a href="/Home/AddtoCart?cid=@Shopping_Website.Security.SessionManager.Customer.ID&pid=@Model[i].pid"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a> 
                            }
                            else
                            {
                                <a href="#"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a> 
                            }
                        }
                        
                    </div>
                </div>

                <a style="text-decoration:none" class="text-center" href="#"><h3>@Model[i].p_name</h3></a>
                <div class="text-center" style="font-weight:bold">Price:@Model[i].p_price</div>
                <div class="text-center">
                    @{
        if (Shopping_Website.Security.SessionManager.Customer != null)
        {
                <a href="/Home/AddtoWishlist?c_id=@Shopping_Website.Security.SessionManager.Customer.ID&p_id=@Model[i++].pid"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
        }
        else
        {
                <a href="#"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
        }
                    }

                </div>
                <!--<div class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty">Add To WishList</span></a></div>-->
            </div>
        </div>

        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <img src="~/Images/mack.jpg" class="image" />
                <div class="middle">
                    <div>
                        @{
        if (Shopping_Website.Security.SessionManager.Customer != null)
        {
                    <a href="/Home/AddtoCart?cid=@Shopping_Website.Security.SessionManager.Customer.ID&pid=@Model[i].pid"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a>
        }
        else
        {
                    <a href="#"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a>
        }
                        }
                    </div>
                </div>
                <h3 class="text-center">@Model[i].p_name</h3>
                <div class="text-center" style="font-weight:bold">Price:@Model[i].p_price</div>
                <div class="text-center">
                    @{
        if (Shopping_Website.Security.SessionManager.Customer != null)
        {
            <a href="/Home/AddtoWishlist?c_id=@Shopping_Website.Security.SessionManager.Customer.ID&p_id=@Model[i++].pid"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
        }
        else
        {
            <a href="#"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
        }
}

                </div>
                <!--<div class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty">Add To WishList</span></a></div>-->
            </div>
        </div>


        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <img src="~/Images/camera.jpg" class="image"/>
                <div class="middle">
                    <div>
                        @{
        if (Shopping_Website.Security.SessionManager.Customer != null)
        {
                    <a href="/Home/AddtoCart?cid=@Shopping_Website.Security.SessionManager.Customer.ID&pid=@Model[i].pid"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a>
        }
        else
        {
                    <a href="#"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a>
        }
                        }
                    </div>
                </div>
                <h3 class="text-center">@Model[i].p_name</h3>
                <div class="text-center" style="font-weight:bold">Price:@Model[i].p_price</div>
                <div class="text-center">
                    @{
        if (Shopping_Website.Security.SessionManager.Customer != null)
        {
            <a href="/Home/AddtoWishlist?c_id=@Shopping_Website.Security.SessionManager.Customer.ID&p_id=@Model[i++].pid"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
        }
        else
        {
            <a href="#"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
        }
}

                </div>
                <!--<div class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty">Add To WishList</span></a></div>-->
            </div>
        </div>

        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <img src="~/Images/shoes.jpg" class="image"/>
                <div class="middle">
                    <div>
                        @{
        if (Shopping_Website.Security.SessionManager.Customer != null)
        {
                    <a href="/Home/AddtoCart?cid=@Shopping_Website.Security.SessionManager.Customer.ID&pid=@Model[i].pid"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a>
        }
        else
        {
                    <a href="#"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a>
        }
                        }
                    </div>
                </div>
                <h3 class="text-center">@Model[i].p_name</h3>
                <div class="text-center" style="font-weight:bold">Price:@Model[i].p_price</div>
                <div class="text-center">
                    @{
        if (Shopping_Website.Security.SessionManager.Customer != null)
        {
            <a href="/Home/AddtoWishlist?c_id=@Shopping_Website.Security.SessionManager.Customer.ID&p_id=@Model[i++].pid"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
        }
        else
        {
            <a href="#"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
        }
}

                </div>
                <!--<div class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty">Add To WishList</span></a></div>-->
            </div>
        </div>
    </div>
    <div class="text-right">
        <button type="button" class="btn btn-info">More Items >>></button>
    </div>
</div>


    <div class="container">
        <div>
            <h2 style="color:blue">Mostly Buyed</h2>
        </div>
        <div style="display:flex;flex-direction:row;align-items:center;border:1px solid black;padding:20px;background-color:#f6f6f6">

            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="~/Images/samsung%20s8.png" class="image" />
                    <div class="middle">
                        <div>
                            @{
        if (Shopping_Website.Security.SessionManager.Customer != null)
        {
                        //<a href="/Home/AddtoCart?cid=@Shopping_Website.Security.SessionManager.Customer.ID&pid=@Model[i].pid"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a>
            <a href="#"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a>
        }
        else
        {
                        <a href="#"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a>
        }
                            }
                        </div>
                    </div>

                    <a style="text-decoration:none" class="text-center" href="#"><h3>Samsung galaxy S8</h3></a>
                    <div class="text-center" style="font-weight:bold">Price:96000</div>
                    <div class="text-center">
                        @{
        if (Shopping_Website.Security.SessionManager.Customer != null)
        {
            //<a href="/Home/AddtoWishlist?c_id=@Shopping_Website.Security.SessionManager.Customer.ID&p_id=@Model[i++].pid"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
            <a href="#"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
        }
        else
        {
            <a href="#"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
        }
}

                    </div>
                    <!--<div class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty">Add To WishList</span></a></div>-->
                </div>
            </div>


            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="~/Images/samsung%20s8.png" class="image" />
                    <div class="middle">
                        <div>
                            @{
        if (Shopping_Website.Security.SessionManager.Customer != null)
        {
                        //<a href="/Home/AddtoCart?cid=@Shopping_Website.Security.SessionManager.Customer.ID&pid=@Model[i].pid"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a>
            <a href="#"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a>
        }
        else
        {
                        <a href="#"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a>
        }
                            }
                        </div>
                    </div>

                    <a style="text-decoration:none" class="text-center" href="#"><h3>Samsung galaxy S8</h3></a>
                    <div class="text-center" style="font-weight:bold">Price:96000</div>
                    <div class="text-center">
                        @{
        if (Shopping_Website.Security.SessionManager.Customer != null)
        {
            //<a href="/Home/AddtoWishlist?c_id=@Shopping_Website.Security.SessionManager.Customer.ID&p_id=@Model[i++].pid"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
            <a href="#"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
        }
        else
        {
            <a href="#"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
        }
}

                    </div>
                    <!--<div class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty">Add To WishList</span></a></div>-->
                </div>
            </div>



            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="~/Images/samsung%20s8.png" class="image" />
                    <div class="middle">
                        <div>
                            @{
        if (Shopping_Website.Security.SessionManager.Customer != null)
        {
                        //<a href="/Home/AddtoCart?cid=@Shopping_Website.Security.SessionManager.Customer.ID&pid=@Model[i].pid"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a>
            <a href="#"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a>
        }
        else
        {
                        <a href="#"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a>
        }
                            }
                        </div>
                    </div>

                    <a style="text-decoration:none" class="text-center" href="#"><h3>Samsung galaxy S8</h3></a>
                    <div class="text-center" style="font-weight:bold">Price:96000</div>
                    <div class="text-center">
                       @{
        if (Shopping_Website.Security.SessionManager.Customer != null)
        {
            //<a href="/Home/AddtoWishlist?c_id=@Shopping_Website.Security.SessionManager.Customer.ID&p_id=@Model[i++].pid"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
            <a href="#"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
        }
        else
        {
            <a href="#"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
        }
}

                    </div>
                    <!--<div class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty">Add To WishList</span></a></div>-->
                </div>
            </div>>

            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="~/Images/samsung%20s8.png" class="image" />
                    <div class="middle">
                        <div>
                            @{
        if (Shopping_Website.Security.SessionManager.Customer != null)
        {
                        //<a href="/Home/AddtoCart?cid=@Shopping_Website.Security.SessionManager.Customer.ID&pid=@Model[i].pid"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a>
            <a href="#"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a>
        }
        else
        {
                        <a href="#"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a>
        }
                            }
                        </div>
                    </div>
                    <a style="text-decoration:none" class="text-center" href="#"><h3>Samsung galaxy S8</h3></a>
                    <div class="text-center" style="font-weight:bold">Price:96000</div>
                    <div class="text-center">
                        @{
        if (Shopping_Website.Security.SessionManager.Customer != null)
        {
            //<a href="/Home/AddtoWishlist?c_id=@Shopping_Website.Security.SessionManager.Customer.ID&p_id=@Model[i++].pid"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
            <a href="#"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
        }
        else
        {
            <a href="#"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
        }
}

                    </div>
                    <!--<div class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty">Add To WishList</span></a></div>-->
                </div>
            </div>
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-info">More Items >>></button>
        </div>
    </div>

   

<div class="container banner" style="border:solid 1px black">
    <div class="col-lg-12"> 
        <div class="thumbnail">
            <img src="~/Images/c1.jpg" class="img img-responsive image" />
            <div class="middle">
                <div class="btn-group">
                    <button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button><br />
                    <button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div>
        <h2 style="color:red">On Sale</h2>
    </div>
       <!-- <div class="col-lg-12">
            <hr />
           
        </div>
           -->
    <div style="display:flex;flex-direction:row;align-items:center;border:1px solid black;padding:20px;background-color:#f6f6f6">

        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <img src="~/Images/samsung%20s8.png" class="image" />
                <div class="middle">
                    <div>
                        @{
        if (Shopping_Website.Security.SessionManager.Customer != null)
        {
                   //<a href="/Home/AddtoCart?cid=@Shopping_Website.Security.SessionManager.Customer.ID&pid=@Model[i].pid"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a>
            <a href="#"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a>
        }
        else
        {
                    <a href="#"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a>
        }
                        }
                    </div>
                </div>

                <a style="text-decoration:none" class="text-center" href="#"><h3>Samsung galaxy S8</h3></a>
                <div class="text-center" style="font-weight:bold">Price:96000</div>
                <div class="text-center">
                    @{
        if (Shopping_Website.Security.SessionManager.Customer != null)
        {
            //<a href="/Home/AddtoWishlist?c_id=@Shopping_Website.Security.SessionManager.Customer.ID&p_id=@Model[i++].pid"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
            <a href="#"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
        }
        else
        {
            <a href="#"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
        }
}

                </div>
                <!--<div class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty">Add To WishList</span></a></div>-->
            </div>
        </div>

        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <img src="~/Images/samsung%20s8.png" class="image" />
                <div class="middle">
                    <div>
                        @{
        if (Shopping_Website.Security.SessionManager.Customer != null)
        {
                    //<a href="/Home/AddtoCart?cid=@Shopping_Website.Security.SessionManager.Customer.ID&pid=@Model[i].pid"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a>
            <a href="#"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a>
        }
        else
        {
                    <a href="#"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a>
        }
                        }
                    </div>
                </div>

                <a style="text-decoration:none" class="text-center" href="#"><h3>Samsung galaxy S8</h3></a>
                <div class="text-center" style="font-weight:bold">Price:96000</div>
                <div class="text-center">
                    @{
        if (Shopping_Website.Security.SessionManager.Customer != null)
        {
            //<a href="/Home/AddtoWishlist?c_id=@Shopping_Website.Security.SessionManager.Customer.ID&p_id=@Model[i++].pid"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
            <a href="#"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
        }
        else
        {
            <a href="#"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
        }
}

                </div>
                <!--<div class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty">Add To WishList</span></a></div>-->
            </div>
        </div>


        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <img src="~/Images/samsung%20s8.png" class="image" />
                <div class="middle">
                    <div>
                        @{
        if (Shopping_Website.Security.SessionManager.Customer != null)
        {
                    //<a href="/Home/AddtoCart?cid=@Shopping_Website.Security.SessionManager.Customer.ID&pid=@Model[i].pid"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a>
            <a href="#"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a>
        }
        else
        {
                    <a href="#"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a>
        }
                        }
                    </div>
                </div>

                <a style="text-decoration:none" class="text-center" href="#"><h3>Samsung galaxy S8</h3></a>
                <div class="text-center" style="font-weight:bold">Price:96000</div>
                <div class="text-center">
                    @{
        if (Shopping_Website.Security.SessionManager.Customer != null)
        {
            //<a href="/Home/AddtoWishlist?c_id=@Shopping_Website.Security.SessionManager.Customer.ID&p_id=@Model[i++].pid"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
            <a href="#"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
        }
        else
        {
            <a href="#"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
        }
}

                </div>
                <!--<div class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty">Add To WishList</span></a></div>-->
            </div>
        </div>

        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <img src="~/Images/samsung%20s8.png" class="image" />
                <div class="middle">
                    <div>
                        @{
        if (Shopping_Website.Security.SessionManager.Customer != null)
        {
                   //<a href="/Home/AddtoCart?cid=@Shopping_Website.Security.SessionManager.Customer.ID&pid=@Model[i].pid"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a>
            <a href="#"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a>
        }
        else
        {
                    <a href="#"><button type="button" class="btn btn-default add_to_cart_btn"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></a>
        }
                        }
                    </div>
                </div>

                <a style="text-decoration:none" class="text-center" href="#"><h3>Samsung galaxy S8</h3></a>
                <div class="text-center" style="font-weight:bold">Price:96000</div>
                <div class="text-center">
                    @{
        if (Shopping_Website.Security.SessionManager.Customer != null)
        {
            //<a href="/Home/AddtoWishlist?c_id=@Shopping_Website.Security.SessionManager.Customer.ID&p_id=@Model[i++].pid"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
            <a href="#"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
        }
        else
        {
            <a href="#"><button type="button" class="btn btn-default add_to_wish_list"><span class="glyphicon glyphicon-heart-empty"></span>Add To Wishlist</button></a>
        }
}

                </div>
                <!--<div class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty">Add To WishList</span></a></div>-->
            </div>
        </div>
    </div>
    <div class="text-right">
        <button type="button" class="btn btn-info">More Items >>></button>
    </div>

</div>
    }
    }